$colors: (
    white: #fff,
    black: #000,
    blue: #4267b2,
    light-blue: #4080ff,
    lighter-blue: #3578e5,
    grey: #dddfe2,
    light-grey: #f5f6f7,
    dark-grey: #cccccc,
    text-black: #1d2129,
    text-grey: #4b4f56,
    text-light-grey: #90949c,
    bg: #e9ebee
);