// __Main Cover Buttons
.cover-button{
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #4b4f56;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    padding: 0 24px;
    border-right: 1px solid #ccd0d5;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 
                200ms cubic-bezier(.08,.52,.52,1) box-shadow, 
                200ms cubic-bezier(.08,.52,.52,1) transform;
    &:hover{
        background-color: #ebedf0;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        transform: translate(-50%, -50%);
        margin-left: 14px;
        background-image: url(../images/icons/cover-first.png);
        background-size: auto;
        background-repeat: no-repeat;
    }
    &::after{
        position: absolute;
        content: "";
        right: 0;
        transform: translate(-50%, -50%);
        margin-right: 6px;
        background-image: url(../images/icons/cover-second.png);
        background-size: auto;
        background-repeat: no-repeat;
    }
}
.button{
    &--liked{
        &::before{
            bottom: 2px;
            width: 12px;
            height: 12px;
            background-position: -82px -789px;
        }
        &::after{
            bottom: 6px;
            width: 9px;
            height: 8px;
            background-position: -18px -575px;
        }
    }
    &--following{
        &::before{
            width: 16px;
            height: 16px;
            bottom: -2px;
            background-position: -49px -1120px;
        }
        &::after{
            bottom: 6px;
            width: 9px;
            height: 8px;
            background-position: -18px -575px;
        }
    }
    &--share{
        &::before{
            width: 12px;
            height: 12px;
            bottom: 2px;
            background-position: -83px -1049px;
        }
    }
    &--dots{
        color: #f5f6f7;
        padding: 0 12px;
        border-right: transparent;
        &::before{
            width: 16px;
            height: 16px;
            left: 4px;
            bottom: -3px;
            background-position: -49px -1052px;
        }
    }
}
.cover__send-message{
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-family: "regular";
    text-align: center;
    border: transparent;
    outline: transparent;
    width: 288px;
    height: 28px;
    border-radius: 2px;
    background-color: #4267b2;
    transition: transform 100ms cubic-bezier(0,.7,.5,1);
}