/* FRIENDS SIDEBAR */
.sidebar{
    position: fixed;
    top: 43px;
    right: 0;
    width: 206px;
    height: calc(100vh - 43px);
    padding: 0.5rem 0;
    border-left: 1px solid #ccc;
    box-shadow: inset 2px 0 2px -2px #e0e0e0;

    &__navigation{
        display: flex;
        flex-direction: column;
        height: calc(100% - 30px);
        overflow-x: hidden;

        &-title{
            display: inline-block;
            color: color(text-grey);
            font-size: 1.1rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: 10px 0 10px 7px;
        }
    }
}
.navigation{
    &__list{
        &-item{
            display: block;
            height: 40px;
        }
        &-link{
            display: block;
            width: 100%;
            margin-left: 1px;

            &-inner{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                width: 100%;
                padding: 0 0.7rem;

                &:hover{
                    background-color: color(grey);
                }
            }
        }
        &-link-inner:hover > 
        &-right > 
        &-wave{
            display: inline-block;
        }

        &-left{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-right{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-image{
            width: 32px;
            height: 32px;
            border-radius: 100%;
            overflow: hidden;

            & img{
                width: 32px;
                height: 32px;
                border-radius: 100%;
            }
        }
        &-text{
            display: flex;
            flex-direction: column;
            margin-left: 1em;
        }
        &-name{
            font-size: 1.2rem;
            color: #333;
        }
        &-groupwith{
            font-size: 1rem;
            color:#4b4f56;
            margin-top: 3px;
        }
        &-wave{
            height: 21px;
            width: 21px;
            display: none;
            background-image: url(../images/icons/wave.png);
            background-size: auto;
            background-position: 0 0;
            background-repeat: no-repeat;
            
            &:hover{
                background-position: 0 -22px;
            }
        }
        &-status{
            display: flex;
            align-items: center;
            margin: 0 4px 0 6px;
        }
    }
}
.status__online{
    background: rgb(66, 183, 42);
    border-radius: 100%;
    display: inline-block;
    height: 6px;
    width: 6px;
}


.sidebar{
    &__search{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 100%;
        background-color: color(white);

        &-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;

            &-image{
                width: 12px;
                height: 12px;
                background-image: url(../images/icons/second_icons.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: 0 -903px;
            }
        }
        &-form{
            margin-right: 10px;
            width: 80px;
            height: 30px;
            background-color: color(light-grey);
        }
        &-input{
            width: 100%;
            height: 30px;
            outline: none;
            font-size: 1.4rem;

            &::placeholder{
                color: #aeaeaf;
            }
        }
        &-icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 65px;

            &-inner{
                width: 16px;
                height: 16px;
                background-image: url(../images/icons/second_icons.png);
                background-repeat: no-repeat;
                background-size: auto;
            }
        }
        &-icons-options{
            background-position: 0 -669px;
            &:hover{
                background-position: 0 -686px;
            }
        }
        &-icons-message{
            background-position: 0 -414px;
            &:hover{
                background-position: 0 -431px;
            }
        }
        &-icons-group{
            background-position: 0 -516px;
            &:hover{
                background-position: 0 -533px;
            }
        }
    }

}