/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 63px;
    background-color: color(blue);
    border-bottom: 1px solid #29487d;

    &__inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 61px;

        &-left{
            display: flex;
            flex-direction: row;
        }
        &-right{
            display: flex;
            flex-direction: row;
    
            &-item{
                display: flex;
                align-items: center;
                flex-direction: row;
    
                &:nth-child(1) > 
                .header__inner-right-link{
                    padding: 0 1.2rem 0 0;
                }
                &-second{
                    padding: 0 0.5rem;
                }
                &-third > .header__inner-right-icons:nth-child(2){
                    margin-left: 0.7rem;
                }
                &-third .right-icons{
                    transition: none!important;
                }
            }
            &-link{
                display: flex;
                align-items: center;
                width: auto;
                height: 28px;
                padding: 0 1.2rem;

                &:hover{
                    border-radius: 2px;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
            &-image{
                width: 26px;
                height: 26px;
                border-radius: 100%;
                border: 1px solid rgba(0, 0, 0, .1);
                margin-right: 0.6rem;
            }
            &-text{
                font-size: 1.25rem;
                font-weight: 700;
                color: color(white);

            }
            &-icons{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                margin: 0 0.2rem;
            }
                .right-icons{
                    width: 24px;
                    height: 24px;
                    background: url(../images/icons/default_icons.png) no-repeat;
                    background-size: auto;
                    transition: 0.35s;
                    opacity: .6;

                    &:hover{
                        opacity: 1;
                    }
                    &-friends{
                        background-position: 0 -892px;
                        &:hover{
                            background-position: 0 -867px;
                        }
                    }
                    &-messages{
                        background-position: 0 -942px;
                        &:hover{
                            background-position: 0 -917px;
                        }
                    }
                    &-notifications{
                        background-position: 0 -792px;
                        &:hover{
                            background-position: 0 -767px;
                        }
                    }
                    &-help{
                        background-position: 0 -992px;
                        &:hover{
                            background-position: 0 -967px;
                        }
                    }
                    &-dropdown{
                        background-position: 0 -842px;
                        &:hover{
                            background-position: 0 -817px;
                        }
                    }
                }
            &-border{
                width: 1px;
                height: 18px;
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        cursor: pointer;

        &:hover{
            background-color: rgba(0, 0, 0, .1);
        }
        & > a{
            display: block;
            width: 24px;
            height: 24px;
            background-image: url(../images/icons/default_icons.png);
            background-size: auto;
            background-position: 0 -442px;
        }
    }
    &__search{
        &-form{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 28px;
            margin-left: 0.5rem;
        }
        &-input{
            border: none;
            outline: none;
            height: 24px;
            width: 400px;
            padding: 0 8px;
            font-size: 1.4rem;
            color: color(black);
            line-height: 24px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
    
            &::placeholder{
                color: color(text-light-grey);
            }
            &:focus + 
            .header__search-button{
                background-color: color(light-blue);
                transition: .35s;
            }
            &:focus + 
            .header__search-button > .header__search-button-icon {
                background-position: 0 -1460px;
            }
        }
            
        &-button{
            display: flex;
            justify-content: center;
            border: none;
            outline: none;
            height: 24px;
            width: 46px;
            cursor: pointer;
            background-color: color(light-grey);
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;

            &:hover{
                background-color: #ebedf0;
            }
            &-icon{
                width: 14px;
                height: 14px;
                background: url(../images/icons/default_icons.png) no-repeat;
                background-size: auto;
                background-position: 0 -1445px;
            }
        }
    }
}    
/* /HEADER */