.header-login{
    width: 100%;
    height: 80px;
    background-color: color(blue);
    &__logo{
        display: inline-block;
        width: 170px;
        height: 34px;
        margin-top: 17px;
        background: url(../img/icons/icons-first.png) no-repeat;
        background-position: 0 0;
    }
}