.header__sub{
    position: absolute;
    top: 43px;
    left: 0;
    width: calc(100% - 206px);
    height: 43px;
    border-color: rgba(0, 0, 0, .16) #dddfe2;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .06);
    background-color: color(white);

    &--left, &--right{
        height: 43px;
    }
    &-list{
        display: flex;
        
        &-item{
            line-height: 4rem;
            padding: 0 1.2rem;
            margin-right: 2rem;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                border-bottom: 3px solid color(blue);
            }
            & a{
                display: block;
                color: color(text-grey);
                font-size: 1.4rem;
                font-family: 'regular';
            }
        }
    }
}