.main-login{
    width: 100%;
    height: auto;
    padding: 20px 0 80px 0;

    &--left{
        padding-right: 48px;
    }

    &__heading{
        color: #333;
        font-size: 3.5rem;
        font-family: 'semibold';
        line-height: 4.6rem;
        letter-spacing: 0.01rem;
    }
    &__text{
        display: inline-block;
        color: #333;
        font-size: 20px;
        line-height: 126%;
        font-family: 'regular';
        margin-bottom: 20px;
    }
    &__recent{
        display: flex;      
    }
}

.recent{
    &__item{
        position: relative;
        display: block;
        width: 160px;
        height: auto;
        margin: 0 17px 0 0;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 0 0 1px #dddfe2;
        transition: all .2s ease-out;
        &:hover{
            box-shadow: 0 1px 10px 7px #dddfe2;
        }
        &:hover > .recent__btn{
            width: 16px;
            height: 16px;
            border-radius: 16px;
            background-color: #fff;
            box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
            transition: all 100ms cubic-bezier(.08,.52,.52,1);
            transform: scale(1.5);
            transform-origin: bottom right;
        }
        &:hover > .recent__btn:after{
            opacity: 1;
        }
    }
    &__img{
        width: 160px;
        height: 160px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &__noimg{
        position: relative;
        width: 160px;
        height: 160px;
        margin-bottom: 5px;
        &:before{
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 42px;
            height: 42px;
            background-image: url(../images/icons/icons-second-login.png);
            background-size: auto;
            background-repeat: no-repeat;
            background-position: 0 0;
        }
    }
    &__name{
        display: inline-block;
        width: 100%;
        background: color(white);
        color: #4b4f56;
        font-size: 1.8rem;
        line-height: 17px;
        text-align: center;
        border-radius: 0 0 4px 4px;
        padding: 12px 0;
    }

    &__btn{
        position: absolute;
        left: 4px;
        top: 4px;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, .3);
        transition: all 100ms cubic-bezier(.08,.52,.52,1);
            &::before{
                position: absolute;
                content: '';
                right: 2px;
                bottom: 2px;
                width: 12px;
                height: 12px;
                background-image: url(../images/icons/icons-first-login.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: -13px -87px;
                opacity: 1;
            }
            &::after{
                position: absolute;
                content: '';
                right: 2px;
                bottom: 2px;
                width: 20px;
                height: 20px;
                background-image: url(../images/icons/icons-first-login.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: -121px -35px;
                opacity: 0;
                transform: scale(.6);
                transform-origin: bottom right;
            }
        }

    }

