/* MAIN SECTION */
.main{
    width: 100%;
    height: auto;
    margin-top: 43px;

    &__sidebar{
        width: 180px;
        height: 500px;

        &-image{
            display: block;
            width: 180px;
            height: 180px;
            margin-top: 13px;

            & img{
                width: 100%;
                height: 100%;
            }
        }
        &-heading{
            cursor: pointer;
            font-size: 2rem;
            font-weight: normal;
            padding-top: 12px;
            &:hover{
                text-decoration: underline;
            }
        }
        &-url{
            cursor: pointer;
            color: color(text-light-grey);
            font-size: 1.4rem;
            font-family: "medium";
            line-height: 16px;
            margin-top: 4px;
            &:hover{
                text-decoration: underline;
            }
        }
        &-list{
            margin-top: 12px;
        }
        &-btn{
            color: color(white);
            font-size: 1.2rem;
            font-weight: 600;
            font-family: inherit;
            line-height: 22px;
            outline: transparent;
            padding: 0 8px;
            margin-top: 16px;
            border: 1px solid #42b72a;
            border-radius: 2px;
            background-color: #42b72a;
        }
    }
    .sidebar-list__item{
        font-size: 1.4rem;
        font-family: "regular";
        padding: 5px 7px;
        margin-bottom: 2px;
        border: 1px solid transparent;

        &:hover{
            background: #f5f6f7;
            border: 1px solid #dddfe2;
            border-radius: 2px;
        }
        &.active{
            background: #f5f6f7;
            border: 1px solid #dddfe2;

            & a{
                font-weight: bold;
            }
        }
        & a{
            display: block;
            color: color(text-black);
        }
    }
    &__content{
        width: calc(100% - 180px);
        margin-left: 11px;
        height: 500px;
        background-color: blue;
    }
}