.main__cover{
    width: 100%;
    height: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dddfe2;
    background-color: color(white);
    &--top{
        width: 100%;
        height: 312px;
        background-color: aqua;
    }
    &-image{
        width: 100%;
        height: 100%;
    }
    &--bottom{
        width: 100%;
        height: 53px;
        padding: 12px;

        .cover__buttons{
            display: flex;
            border-radius: 2px;
            border: 1px solid #ccd0d5;
            background-color: #f5f6f7;
        }
    }
    .message-icon{
        position: relative;
        bottom: 1px;
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-right: 4px;
        background-image: url(../images/icons/cover_icons.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: -74px -872px;
    }
}