.main-login--right{
    width: 400px;
}
.form{
    &__input{
        width: 100%;
        height: 39px;
        font-size: 1.8rem;
        outline: transparent;
        margin-bottom: 1rem;
        padding: 1rem 1rem 8px 1rem;
        border-radius: 0.5rem;
        border: 1px solid #bdc7d8;
        &::placeholder{
            color: #999;
        }
    }
    &__heading{
        display: inline-block;
        color: color(text-black);
        font-size: 1.8rem;
        margin: 1rem 0 0.5rem 0;
    }
    &__dropdown{
        font-size: 1.3rem;
        height: 30px;
        outline: transparent;
        padding: 0.5rem;
        border: 1px solid #bdc7d8;
    }
    &__bday{
        font-size: 1.1rem;
        max-width: 150px;
        margin: 0.2rem 0 0 1rem;
        cursor: pointer;
        color: color(blue);
    }
    &__checkbox div{
        border-radius: 4px;
        border-width: 1px;
        padding: 0.5rem 0 0.5rem 0.4rem;
        &:first-child{
            margin-right: 1.5rem;
        }
    }
    &__input{
        &--checkbox{
            margin: 0.3rem 0.3rem 0 0.5rem;
        }
    }
    &__agreement{
        width: 100%;
        margin-top: 0.5rem;
        & p{
            color: #777;
            font-size: 1.1rem;
            width: 316px;
        }
        & a {
            color: color(blue);
        }
    }
    &__btn{
        display: inline-block;
        color: color(white);
        font-size: 1.9rem;
        font-family: 'medium';
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
        min-width: 194px;
        margin: 2rem 0; 
        padding: 0.7rem 2rem;
        cursor: pointer;
        outline: transparent;
        border-radius: 5px;
        border: 1px solid;
        border-color: #3b6e22 #3b6e22 #2c5115;
        box-shadow: inset 0 1px 1px #a4e388;
        background-color: #69a74e;
        background: linear-gradient(#67ae55, #578843);
    }
}
.reg_pages_msg{
    display: block;
    border-top: 1px solid #dddfe2;;
    color: #666;
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 1.5rem;
    & a {
        color: color(blue);
    }
}