* {
  margin: 0;
  padding: 0;
  border: transparent;
  outline: transparent;
  box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 10px; }

body {
  font-family: "regular";
  line-height: 1.34;
  background-color: #e9ebee;
  overflow-y: scroll; }

a {
  color: #4267b2;
  text-decoration: none; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

@font-face {
  font-family: "regular";
  src: url("../fonts/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText-Regular.woff") format("woff"); }

@font-face {
  font-family: "light";
  src: url("../fonts/SFUIText-Light.ttf") format("truetype"), url("../fonts/SFUIText-Light.woff") format("woff"); }

@font-face {
  font-family: "semibold";
  src: url("../fonts/SFUIText-Semibold.ttf") format("truetype"), url("../fonts/SFUIText-Semibold.woff") format("woff"); }

@font-face {
  font-family: "medium";
  src: url("../fonts/SFUIText-Medium.ttf") format("truetype"), url("../fonts/SFUIText-Medium.woff") format("woff"); }

.container {
  float: left;
  width: calc(100% - 206px);
  height: auto; }

.wrapper {
  width: 1012px;
  margin: 0 auto; }

.wrapper-login {
  width: 980px;
  margin: 0 auto; }

.flex {
  display: flex; }

.fl_center {
  display: flex;
  align-items: center;
  justify-content: center; }

.fl_col {
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

.fl_jus-bet {
  display: flex;
  justify-content: space-between; }

.header-login {
  width: 100%;
  height: 83px;
  position: relative;
  padding-top: 13px;
  z-index: 10;
  border-bottom: 1px solid #133783;
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%); }
  .header-login__logo {
    display: inline-block;
    width: 170px;
    height: 34px;
    margin-top: 17px;
    background: url(../images/icons/icons-first-login.png) no-repeat;
    background-position: 0 0; }
  .header-login__auth {
    display: flex;
    width: 392px;
    height: 65px; }
  .header-login .auth__item {
    padding: 0 0 0 14px;
    font-size: 1.2rem; }
  .header-login .auth--mail, .header-login .auth--pass {
    padding-top: 1px; }
  .header-login .auth__text {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
    padding-bottom: 4px; }
  .header-login .auth__input {
    width: 150px;
    padding: 3px;
    outline: transparent;
    border: 1px solid #bdc7d8;
    border-color: #1d2a5b; }
  .header-login .auth__link {
    color: #9cb4d8;
    cursor: pointer;
    padding-top: 5px;
    text-decoration: none; }
    .header-login .auth__link:hover {
      cursor: pointer;
      text-decoration: underline; }
  .header-login .auth__btn {
    width: 50px;
    height: 24px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8rem;
    cursor: pointer;
    outline: transparent;
    border-radius: 2px;
    padding: 2px 6px;
    border: 1px solid #29487d;
    background-color: #4267b2; }
    .header-login .auth__btn:hover {
      background-color: #365899; }

.main-login {
  width: 100%;
  height: auto;
  padding: 2rem 0 5.3rem 0; }
  .main-login--left {
    padding-right: 4.8rem; }
  .main-login__heading {
    color: #333;
    font-size: 3.5rem;
    font-family: 'semibold';
    line-height: 4.6rem;
    letter-spacing: 0.01rem; }
  .main-login__text {
    display: inline-block;
    color: #333;
    font-size: 2rem;
    line-height: 126%;
    font-family: 'regular';
    margin-bottom: 20px; }
  .main-login__recent {
    display: flex; }

.recent__item {
  position: relative;
  display: block;
  width: 160px;
  height: auto;
  margin: 0 17px 0 0;
  border-radius: 0.4rem;
  background: #fff;
  box-shadow: 0 0 0 1px #dddfe2;
  transition: all .2s ease-out; }
  .recent__item:hover {
    box-shadow: 0 1px 10px 7px #dddfe2; }
  .recent__item:hover > .recent__btn {
    width: 16px;
    height: 16px;
    border-radius: 1.6rem;
    background-color: #fff;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
    transition: all 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
    transform: scale(1.5);
    transform-origin: bottom right; }
  .recent__item:hover > .recent__btn:after {
    opacity: 1; }

.recent__img {
  width: 160px;
  height: 160px;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem; }

.recent__noimg {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 5px; }
  .recent__noimg:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    background-image: url(../images/icons/icons-second-login.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 0; }

.recent__name {
  display: inline-block;
  width: 100%;
  background: #fff;
  color: #4b4f56;
  font-size: 1.8rem;
  line-height: 1.7rem;
  text-align: center;
  border-radius: 0 0 4px 4px;
  padding: 12px 0; }

.recent__btn {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 100ms cubic-bezier(0.08, 0.52, 0.52, 1); }
  .recent__btn::before {
    position: absolute;
    content: '';
    right: 2px;
    bottom: 2px;
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/icons-first-login.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -13px -87px;
    opacity: 1; }
  .recent__btn::after {
    position: absolute;
    content: '';
    right: 2px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/icons-first-login.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -121px -35px;
    opacity: 0;
    transform: scale(0.6);
    transform-origin: bottom right; }

.main-login--right {
  width: 400px; }

.form__input {
  width: 100%;
  height: 39px;
  font-size: 1.8rem;
  outline: transparent;
  margin-bottom: 10px;
  padding: 10px 10px 8px 10px;
  border-radius: 0.5rem;
  border: 1px solid #bdc7d8; }
  .form__input::placeholder {
    color: #999; }

.form__heading {
  display: inline-block;
  color: #1d2129;
  font-size: 1.8rem;
  margin: 10px 0 5px 0; }

.form__dropdown {
  font-size: 1.3rem;
  height: 30px;
  outline: transparent;
  padding: 0.5rem;
  border: 1px solid #bdc7d8; }

.form__bday {
  font-size: 1.1rem;
  max-width: 150px;
  margin: 2px 0 0 10px;
  cursor: pointer;
  color: #4267b2; }

.form__checkbox div {
  border-radius: 4px;
  border-width: 1px;
  padding: 5px 0 5px 4px; }
  .form__checkbox div:first-child {
    margin-right: 15px; }

.form__input--checkbox {
  margin: 3px 3px 0px 5px; }

.form__agreement {
  width: 100%;
  margin-top: 5px; }
  .form__agreement p {
    color: #777;
    font-size: 1.1rem;
    width: 316px; }
  .form__agreement a {
    color: #4267b2; }

.form__btn {
  display: inline-block;
  color: #fff;
  font-size: 1.9rem;
  font-family: 'medium';
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  min-width: 194px;
  margin: 20px 0;
  padding: 7px 20px;
  cursor: pointer;
  outline: transparent;
  border-radius: 5px;
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  box-shadow: inset 0 1px 1px #a4e388;
  background-color: #69a74e;
  background: linear-gradient(#67ae55, #578843); }

.reg_pages_msg {
  display: block;
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  padding-top: 15px; }
  .reg_pages_msg a {
    color: #4267b2; }

.footer {
  width: 100%;
  height: auto;
  background: #fff;
  padding-bottom: 55px;
  padding-top: 30px; }
  .footer__list {
    display: block;
    padding-top: 8px; }
    .footer__list a {
      color: #4267b2; }
  .footer__list li {
    display: inline;
    font-size: 12px;
    color: #737373;
    margin-right: 10px; }
  .footer__plus {
    position: relative;
    padding: 2px 15px;
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    cursor: pointer; }
  .footer__plus::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-position: -39px -382px;
    background-image: url(../images/icons/icons-third-login.png);
    background-size: auto;
    background-repeat: no-repeat; }

.break-line {
  border-bottom: 1px solid #dddfe2;
  font-size: .1rem;
  height: 10px;
  margin-bottom: 10px; }

.list__second {
  padding-top: 0;
  line-height: 1.6; }

.list__second li {
  margin-right: 16px; }

.copyright {
  color: #737373;
  font-size: 1.1rem;
  margin: 20px 0 20px 0; }

/*** HEADER ***/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 43px;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d; }
  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 41px; }
    .header__inner-left {
      display: flex;
      flex-direction: row; }
    .header__inner-right {
      display: flex;
      flex-direction: row; }
      .header__inner-right-item {
        display: flex;
        align-items: center;
        flex-direction: row; }
        .header__inner-right-item:nth-child(1) >
.header__inner-right-link {
          padding: 0 1.2rem 0 0; }
        .header__inner-right-item-second {
          padding: 0 0.5rem; }
        .header__inner-right-item-third > .header__inner-right-icons:nth-child(2) {
          margin-left: 0.7rem; }
        .header__inner-right-item-third .right-icons {
          transition: none !important; }
      .header__inner-right-link {
        display: flex;
        align-items: center;
        width: auto;
        height: 28px;
        padding: 0 1.2rem; }
        .header__inner-right-link:hover {
          border-radius: 2px;
          background-color: rgba(0, 0, 0, 0.1); }
      .header__inner-right-image {
        width: 26px;
        height: 26px;
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-right: 0.6rem; }
      .header__inner-right-text {
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff; }
      .header__inner-right-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin: 0 0.2rem; }
      .header__inner-right .right-icons {
        width: 24px;
        height: 24px;
        background: url(../images/icons/default_icons.png) no-repeat;
        background-size: auto;
        transition: 0.35s;
        opacity: .6; }
        .header__inner-right .right-icons:hover {
          opacity: 1; }
        .header__inner-right .right-icons-friends {
          background-position: 0 -892px; }
          .header__inner-right .right-icons-friends:hover {
            background-position: 0 -867px; }
        .header__inner-right .right-icons-messages {
          background-position: 0 -942px; }
          .header__inner-right .right-icons-messages:hover {
            background-position: 0 -917px; }
        .header__inner-right .right-icons-notifications {
          background-position: 0 -792px; }
          .header__inner-right .right-icons-notifications:hover {
            background-position: 0 -767px; }
        .header__inner-right .right-icons-help {
          background-position: 0 -992px; }
          .header__inner-right .right-icons-help:hover {
            background-position: 0 -967px; }
        .header__inner-right .right-icons-dropdown {
          background-position: 0 -842px; }
          .header__inner-right .right-icons-dropdown:hover {
            background-position: 0 -817px; }
      .header__inner-right-border {
        width: 1px;
        height: 18px;
        background-color: rgba(0, 0, 0, 0.1); }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer; }
    .header__logo:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .header__logo > a {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../images/icons/default_icons.png);
      background-size: auto;
      background-position: 0 -442px; }
  .header__search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
    margin-left: 0.5rem; }
  .header__search-input {
    border: none;
    outline: none;
    height: 24px;
    width: 400px;
    padding: 0 8px;
    font-size: 1.4rem;
    color: #000;
    line-height: 24px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
    .header__search-input::placeholder {
      color: #90949c; }
    .header__search-input:focus +
.header__search-button {
      background-color: #4080ff;
      transition: .35s; }
    .header__search-input:focus +
.header__search-button > .header__search-button-icon {
      background-position: 0 -1460px; }
  .header__search-button {
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    height: 24px;
    width: 46px;
    cursor: pointer;
    background-color: #f5f6f7;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
    .header__search-button:hover {
      background-color: #ebedf0; }
    .header__search-button-icon {
      width: 14px;
      height: 14px;
      background: url(../images/icons/default_icons.png) no-repeat;
      background-size: auto;
      background-position: 0 -1445px; }

.header__sub {
  position: absolute;
  top: 43px;
  left: 0;
  width: calc(100% - 206px);
  height: 43px;
  border-color: rgba(0, 0, 0, 0.16) #dddfe2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  background-color: #fff; }
  .header__sub--left, .header__sub--right {
    height: 43px; }
  .header__sub-list {
    display: flex; }
    .header__sub-list-item {
      line-height: 40px;
      padding: 0 12px;
      margin-right: 20px;
      border-bottom: 3px solid transparent;
      transition: 0.3s; }
      .header__sub-list-item:last-child {
        margin-right: 0; }
      .header__sub-list-item:hover {
        border-bottom: 3px solid #4267b2; }
      .header__sub-list-item a {
        display: block;
        color: #4b4f56;
        font-size: 1.4rem;
        font-family: 'regular'; }

/* MAIN SECTION */
.main {
  width: 100%;
  height: auto;
  margin-top: 86px; }
  .main__content {
    width: calc(100% - 180px);
    margin-left: 11px;
    height: 500px; }

.main__sidebar {
  width: 180px;
  height: 500px;
  margin-top: 13px; }
  .main__sidebar-image {
    display: block;
    width: 180px;
    height: 180px; }
    .main__sidebar-image img {
      width: 100%;
      height: 100%; }
  .main__sidebar-heading {
    cursor: pointer;
    font-size: 2rem;
    font-weight: normal;
    padding-top: 12px; }
    .main__sidebar-heading:hover {
      text-decoration: underline; }
  .main__sidebar-url {
    cursor: pointer;
    color: #90949c;
    font-size: 1.4rem;
    font-family: "medium";
    line-height: 16px;
    margin-top: 4px; }
    .main__sidebar-url:hover {
      text-decoration: underline; }
  .main__sidebar-list {
    margin-top: 12px; }
  .main__sidebar-btn {
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    line-height: 22px;
    outline: transparent;
    padding: 0 8px;
    margin-top: 16px;
    border: 1px solid #42b72a;
    border-radius: 2px;
    background-color: #42b72a; }
    .main__sidebar-btn:hover {
      background-color: #36a420;
      border-color: #36a420; }

.main .sidebar-list__item {
  font-size: 1.4rem;
  font-family: "regular";
  padding: 5px 7px;
  margin-bottom: 2px;
  border: 1px solid transparent; }
  .main .sidebar-list__item:hover {
    background: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 2px; }
  .main .sidebar-list__item.active {
    background: #f5f6f7;
    border: 1px solid #dddfe2; }
    .main .sidebar-list__item.active a {
      font-weight: bold; }
  .main .sidebar-list__item a {
    display: block;
    color: #1d2129; }

.main__cover {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #dddfe2;
  background-color: #fff; }
  .main__cover--top {
    width: 100%;
    height: 312px;
    background-color: #cccccc; }
  .main__cover-image {
    width: 100%;
    height: 100%; }
  .main__cover--bottom {
    width: 100%;
    height: 53px;
    padding: 12px; }
    .main__cover--bottom .cover__buttons {
      display: flex;
      border-radius: 2px;
      border: 1px solid #ccd0d5;
      background-color: #f5f6f7; }
  .main__cover .message-icon {
    position: relative;
    bottom: 1px;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 4px;
    background-image: url(../images/icons/cover_icons.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -74px -872px; }

/* FRIENDS SIDEBAR */
.sidebar {
  position: fixed;
  top: 43px;
  right: 0;
  width: 206px;
  height: calc(100vh - 43px);
  padding: 0.5rem 0;
  border-left: 1px solid #ccc;
  box-shadow: inset 2px 0 2px -2px #e0e0e0; }
  .sidebar__navigation {
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
    overflow-x: hidden; }
    .sidebar__navigation-title {
      display: inline-block;
      color: #4b4f56;
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0 10px 7px; }

.navigation__list-item {
  display: block;
  height: 40px; }

.navigation__list-link {
  display: block;
  width: 100%;
  margin-left: 1px; }
  .navigation__list-link-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding: 0 0.7rem; }
    .navigation__list-link-inner:hover {
      background-color: #dddfe2; }

.navigation__list-link-inner:hover >
.navigation__list-right >
.navigation__list-wave {
  display: inline-block; }

.navigation__list-left {
  display: flex;
  flex-direction: row;
  align-items: center; }

.navigation__list-right {
  display: flex;
  flex-direction: row;
  align-items: center; }

.navigation__list-image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden; }
  .navigation__list-image img {
    width: 32px;
    height: 32px;
    border-radius: 100%; }

.navigation__list-text {
  display: flex;
  flex-direction: column;
  margin-left: 1em; }

.navigation__list-name {
  font-size: 1.2rem;
  color: #333; }

.navigation__list-groupwith {
  font-size: 1rem;
  color: #4b4f56;
  margin-top: 3px; }

.navigation__list-wave {
  height: 21px;
  width: 21px;
  display: none;
  background-image: url(../images/icons/wave.png);
  background-size: auto;
  background-position: 0 0;
  background-repeat: no-repeat; }
  .navigation__list-wave:hover {
    background-position: 0 -22px; }

.navigation__list-status {
  display: flex;
  align-items: center;
  margin: 0 4px 0 6px; }

.status__online {
  background: #42b72a;
  border-radius: 100%;
  display: inline-block;
  height: 6px;
  width: 6px; }

.sidebar__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #fff; }
  .sidebar__search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px; }
    .sidebar__search-icon-image {
      width: 12px;
      height: 12px;
      background-image: url(../images/icons/second_icons.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 0 -903px; }
  .sidebar__search-form {
    margin-right: 10px;
    width: 80px;
    height: 30px;
    background-color: #f5f6f7; }
  .sidebar__search-input {
    width: 100%;
    height: 30px;
    outline: none;
    font-size: 1.4rem; }
    .sidebar__search-input::placeholder {
      color: #aeaeaf; }
  .sidebar__search-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65px; }
    .sidebar__search-icons-inner {
      width: 16px;
      height: 16px;
      background-image: url(../images/icons/second_icons.png);
      background-repeat: no-repeat;
      background-size: auto; }
  .sidebar__search-icons-options {
    background-position: 0 -669px; }
    .sidebar__search-icons-options:hover {
      background-position: 0 -686px; }
  .sidebar__search-icons-message {
    background-position: 0 -414px; }
    .sidebar__search-icons-message:hover {
      background-position: 0 -431px; }
  .sidebar__search-icons-group {
    background-position: 0 -516px; }
    .sidebar__search-icons-group:hover {
      background-position: 0 -533px; }

.main__articles {
  margin-top: 14px; }

.main__articles--left {
  width: calc(100% - 308px);
  margin-right: 12px; }

.main__articles--right {
  width: 308px;
  height: 500px;
  background: red; }

.section-articles {
  width: 494px; }
  .section-articles__post {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px; }
    .section-articles__post-top {
      display: flex;
      align-items: center;
      width: 100%;
      height: 33px;
      border-bottom: 1px solid #dddfe2;
      background-color: #f5f6f7;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .section-articles__post-border {
      width: 1px; }
    .section-articles__post-center {
      display: flex;
      width: 100%;
      height: 71px;
      position: relative; }
      .section-articles__post-center:after {
        position: absolute;
        content: '';
        left: 50px;
        top: -8px;
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent; }
      .section-articles__post-center-profile {
        display: flex;
        margin: 12px 0 0 12px;
        justify-content: flex-start;
        width: 52px;
        height: 100%; }
        .section-articles__post-center-profile img {
          border-radius: 100%; }
      .section-articles__post-center-form {
        width: 448px;
        height: 100%;
        padding: 0 5px 5px 5px;
        box-sizing: border-box; }
        .section-articles__post-center-form textarea {
          width: 100%;
          height: 100%;
          outline: none;
          font-size: 14px;
          font-weight: normal;
          color: #90949c;
          resize: none;
          padding-top: 25px; }
          .section-articles__post-center-form textarea:focus {
            padding-top: 25px; }
    .section-articles__post-breakline {
      width: 476px;
      height: 1px;
      opacity: 0.7;
      background-color: #dddfe2; }
    .section-articles__post-bottom {
      display: flex;
      align-items: center;
      width: 100%;
      height: 49px;
      padding: 0 10px; }
      .section-articles__post-bottom a:hover {
        background-color: #ebedf0; }

.articles__post-top-icon {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: #365899;
  margin-right: 10px;
  border-left: 1px solid #ccd0d5; }
  .articles__post-top-icon:first-child {
    border: none; }
  .articles__post-top-icon::before {
    content: '';
    height: 16px;
    width: 16px;
    margin: 0 5px 0 10px;
    display: inline-block;
    vertical-align: bottom;
    background-image: url(../images/icons/post-fifth_icons.png);
    background-size: auto;
    background-repeat: no-repeat; }

.articles__post-bottom-icon {
  display: flex;
  align-items: center;
  color: #4b4f56;
  font-size: 12px;
  font-weight: 550;
  background: #f5f6f7;
  border-radius: 18px;
  padding: 5px 15px 5px 10px;
  margin-right: 7px; }
  .articles__post-bottom-icon::before {
    content: '';
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    background-image: url(../images/icons/post-third_icons.png);
    background-size: auto;
    background-repeat: no-repeat; }

.icons_make-post:before {
  background-position: -17px -361px; }

.icons_photo-album::before {
  background-position: -34px -361px; }

.icons_live-video::before {
  background-image: url(../images/icons/post-third_icons.png);
  background-position: 0 -2503px; }

.icons_photo-video::before {
  background-position: 0 -1500px; }

.icons_tag-friends::before {
  background-position: 0 -954px; }

.icons_feeling-activity::before {
  background-position: 0 -870px; }

.icons_three-dots {
  width: 50px;
  height: 32px;
  border-radius: 18px;
  padding: 5px 15px 5px 10px;
  background-color: #f5f6f7; }
  .icons_three-dots::before {
    display: flex;
    align-items: center;
    content: '';
    height: 20px;
    width: 20px;
    margin: 0 0 0 5px;
    background-image: url(../images/icons/post-third_icons.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 -2235px; }

.article {
  border-radius: 4px;
  width: 100%;
  background: #fff;
  border: 1px solid #dddfe2; }
  .article__heading {
    width: 100%;
    height: 43px;
    margin: 10px 0;
    padding: 0 12px 0 12px; }
  .article__top-author {
    width: 40px;
    height: 40px; }
    .article__top-author-img {
      width: 40px;
      height: 40px;
      border-radius: 100%; }
  .article__top-text {
    margin-left: 10px; }
  .article__top-heading a {
    font-size: 14px;
    font-weight: 600;
    color: #365899; }
    .article__top-heading a:hover {
      text-decoration: underline; }
  .article__top-time {
    position: relative; }
    .article__top-time a {
      font-size: 12px;
      color: #616770; }
      .article__top-time a:hover {
        text-decoration: underline; }
    .article__top-time::before {
      position: absolute;
      content: "";
      top: 0;
      right: -20px;
      width: 12px;
      height: 12px;
      background-image: url(../images/icons/sixth_icons.png);
      background-size: auto;
      background-repeat: no-repeat;
      background-position: -13px -338px; }
  .article__top-right {
    height: 20px;
    width: 20px; }
  .article__top-dots {
    height: 20px;
    width: 20px;
    background-image: url(../images/icons/fourth_icons.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -192px -245px; }
    .article__top-dots:hover {
      background-position: -234px -245px; }
  .article__center {
    align-items: center; }
    .article__center-image {
      width: 100%;
      height: auto; }
    .article__center-inner {
      justify-content: space-around;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #e5e5e5; }
  .article__footer {
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 10px; }
    .article__footer-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%; }
    .article__footer-button {
      flex: 1 100%;
      align-items: center;
      height: 100%;
      width: 100%; }
      .article__footer-button:hover {
        background-color: rgba(29, 33, 41, 0.04); }
    .article__footer-icon {
      position: relative;
      font-size: 13px;
      font-weight: 600;
      color: #616770;
      margin-left: 25px; }
      .article__footer-icon::before {
        position: absolute;
        content: "";
        top: 0;
        left: -25px;
        width: 18px;
        height: 18px;
        background-image: url(../images/icons/seventh_icons.png);
        background-repeat: no-repeat;
        background-size: auto; }
    .article__footer-comment::before {
      background-position: -19px -198px; }
    .article__footer-like::before {
      background-position: -318px -245px;
      background-image: url(../images/icons/fourth_icons.png); }
    .article__footer-share::before {
      background-position: 0 -293px; }

.center-left-icons {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
  background-image: url(../images/icons/seventh_icons.png);
  background-repeat: no-repeat;
  background-size: auto; }

.center-left-numbers {
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: #606770;
  line-height: 20px; }
  .center-left-numbers:hover {
    text-decoration: underline; }

.center-right-shares {
  font-size: 12px;
  color: #606770; }
  .center-right-shares:hover {
    text-decoration: underline; }

.left-icons-like {
  background-position: -17px -526px;
  margin-right: -4px;
  z-index: 1; }

.left-icons-love {
  background-position: 0 -509px; }

.cover-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #4b4f56;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  padding: 0 24px;
  border-right: 1px solid #ccd0d5;
  transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow, 200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform; }
  .cover-button:hover {
    background-color: #ebedf0; }
  .cover-button::before {
    position: absolute;
    content: "";
    left: 0;
    transform: translate(-50%, -50%);
    margin-left: 14px;
    background-image: url(../images/icons/cover_icons.png);
    background-size: auto;
    background-repeat: no-repeat; }
  .cover-button::after {
    position: absolute;
    content: "";
    right: 0;
    transform: translate(-50%, -50%);
    margin-right: 6px;
    background-image: url(../images/icons/cover_icons-two.png);
    background-size: auto;
    background-repeat: no-repeat; }

.button--liked::before {
  bottom: 2px;
  width: 12px;
  height: 12px;
  background-position: -82px -789px; }

.button--liked::after {
  bottom: 6px;
  width: 9px;
  height: 8px;
  background-position: -18px -575px; }

.button--following::before {
  width: 16px;
  height: 16px;
  bottom: -2px;
  background-position: -49px -1120px; }

.button--following::after {
  bottom: 6px;
  width: 9px;
  height: 8px;
  background-position: -18px -575px; }

.button--share::before {
  width: 12px;
  height: 12px;
  bottom: 2px;
  background-position: -83px -1049px; }

.button--dots {
  color: #f5f6f7;
  padding: 0 12px;
  border-right: transparent; }
  .button--dots::before {
    width: 16px;
    height: 16px;
    left: 4px;
    bottom: -3px;
    background-position: -49px -1052px; }

.cover__send-message {
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-family: "regular";
  text-align: center;
  border: transparent;
  outline: transparent;
  width: 288px;
  height: 28px;
  border-radius: 2px;
  background-color: #4267b2;
  transition: transform 100ms cubic-bezier(0, 0.7, 0.5, 1); }
