html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 10px; }

body {
  font-family: "regular";
  overflow-y: scroll; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.flex {
  display: flex; }

.fl_center {
  display: flex;
  align-items: center;
  justify-content: center; }

.fl_col {
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

.fl_jus-bet {
  display: flex;
  justify-content: space-between; }

@font-face {
  font-family: "regular";
  src: url("../fonts/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText-Regular.woff") format("woff"); }

@font-face {
  font-family: "light";
  src: url("../fonts/SFUIText-Light.ttf") format("truetype"), url("../fonts/SFUIText-Light.woff") format("woff"); }

@font-face {
  font-family: "semibold";
  src: url("../fonts/SFUIText-Semibold.ttf") format("truetype"), url("../fonts/SFUIText-Semibold.woff") format("woff"); }

@font-face {
  font-family: "medium";
  src: url("../fonts/SFUIText-Medium.ttf") format("truetype"), url("../fonts/SFUIText-Medium.woff") format("woff"); }

.wrapper-login {
  width: 980px;
  height: auto;
  margin: 0 auto; }

.wrapper {
  width: 1012px;
  height: auto;
  margin: 0 auto; }

.container {
  float: left;
  width: calc(100% - 206px);
  height: auto; }

body {
  overflow-y: scroll;
  line-height: 1.34; }

.header-login {
  width: 100%;
  height: 82px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #133783;
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%); }
  .header-login__container {
    padding-top: 13px; }
  .header-login__logo {
    display: inline-block;
    width: 170px;
    height: 34px;
    margin-top: 17px;
    background: url(../images/icons/icons-first-login.png) no-repeat;
    background-position: 0 0; }
  .header-login__auth {
    display: flex;
    width: 392px;
    height: 65px; }
  .header-login .auth__item {
    padding: 0 0 0 14px;
    font-size: 1.2rem; }
  .header-login .auth--mail, .header-login .auth--pass {
    padding-top: 1px; }
  .header-login .auth__text {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
    padding-bottom: 4px; }
  .header-login .auth__input {
    width: 142px;
    padding: 3px;
    outline: transparent;
    border: 1px solid #bdc7d8;
    border-color: #1d2a5b; }
  .header-login .auth__link {
    color: #9cb4d8;
    cursor: pointer;
    padding-top: 5px;
    text-decoration: none; }
    .header-login .auth__link:hover {
      cursor: pointer;
      text-decoration: underline; }
  .header-login .auth__btn {
    width: 50px;
    height: 24px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8rem;
    cursor: pointer;
    outline: transparent;
    border-radius: 2px;
    padding: 2px 6px;
    border: 1px solid #29487d;
    background-color: #4267b2; }
    .header-login .auth__btn:hover {
      background-color: #365899; }

* {
  margin: 0; }

* {
  margin: 0; }

* {
  margin: 0; }

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 63px;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d; }
  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 41px; }
    .header__inner-left {
      display: flex;
      flex-direction: row; }
    .header__inner-right {
      display: flex;
      flex-direction: row; }
      .header__inner-right-item {
        display: flex;
        align-items: center;
        flex-direction: row; }
        .header__inner-right-item:nth-child(1) >
.header__inner-right-link {
          padding: 0 12px 0 0; }
        .header__inner-right-item-second {
          padding: 0 5px; }
        .header__inner-right-item-third > .header__inner-right-icons:nth-child(2) {
          margin-left: 7px; }
        .header__inner-right-item-third .right-icons {
          transition: none !important; }
      .header__inner-right-link {
        display: flex;
        align-items: center;
        width: auto;
        height: 28px;
        padding: 0 12px; }
        .header__inner-right-link:hover {
          border-radius: 2px;
          background-color: rgba(0, 0, 0, 0.1); }
      .header__inner-right-image {
        width: 26px;
        height: 26px;
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-right: 6px; }
      .header__inner-right-text {
        font-size: 12px;
        font-weight: 700;
        color: #fff; }
      .header__inner-right-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin: 0 2px; }
      .header__inner-right .right-icons {
        width: 24px;
        height: 24px;
        background: url(../images/icons/default_icons.png) no-repeat;
        background-size: auto;
        transition: 0.35s;
        opacity: .6; }
        .header__inner-right .right-icons:hover {
          opacity: 1; }
        .header__inner-right .right-icons-friends {
          background-position: 0 -892px; }
          .header__inner-right .right-icons-friends:hover {
            background-position: 0 -867px; }
        .header__inner-right .right-icons-messages {
          background-position: 0 -942px; }
          .header__inner-right .right-icons-messages:hover {
            background-position: 0 -917px; }
        .header__inner-right .right-icons-notifications {
          background-position: 0 -792px; }
          .header__inner-right .right-icons-notifications:hover {
            background-position: 0 -767px; }
        .header__inner-right .right-icons-help {
          background-position: 0 -992px; }
          .header__inner-right .right-icons-help:hover {
            background-position: 0 -967px; }
        .header__inner-right .right-icons-dropdown {
          background-position: 0 -842px; }
          .header__inner-right .right-icons-dropdown:hover {
            background-position: 0 -817px; }
      .header__inner-right-border {
        width: 1px;
        height: 18px;
        background-color: rgba(0, 0, 0, 0.1); }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer; }
    .header__logo:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .header__logo > a {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../images/icons/default_icons.png);
      background-size: auto;
      background-position: 0 -442px; }
  .header__search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
    margin-left: 5px; }
  .header__search-input {
    border: none;
    outline: none;
    height: 24px;
    width: 400px;
    padding: 0 8px;
    font-size: 14px;
    color: #000;
    line-height: 24px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
    .header__search-input::placeholder {
      color: #90949c; }
    .header__search-input:focus +
.header__search-button {
      background-color: #4080ff;
      transition: .35s; }
    .header__search-input:focus +
.header__search-button > .header__search-button-icon {
      background-position: 0 -1460px; }
  .header__search-button {
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    height: 24px;
    width: 46px;
    cursor: pointer;
    background-color: #f5f6f7;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
    .header__search-button:hover {
      background-color: #ebedf0; }
    .header__search-button-icon {
      width: 14px;
      height: 14px;
      background: url(../images/icons/default_icons.png) no-repeat;
      background-size: auto;
      background-position: 0 -1445px; }

/* /HEADER */
