* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 10px; }

body {
  font-family: "regular";
  line-height: 1.34;
  background-color: #e9ebee; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.flex {
  display: flex; }

.fl_center {
  display: flex;
  align-items: center;
  justify-content: center; }

.fl_col {
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

.fl_jus-bet {
  display: flex;
  justify-content: space-between; }

@font-face {
  font-family: "regular";
  src: url("../fonts/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText-Regular.woff") format("woff"); }

@font-face {
  font-family: "light";
  src: url("../fonts/SFUIText-Light.ttf") format("truetype"), url("../fonts/SFUIText-Light.woff") format("woff"); }

@font-face {
  font-family: "semibold";
  src: url("../fonts/SFUIText-Semibold.ttf") format("truetype"), url("../fonts/SFUIText-Semibold.woff") format("woff"); }

@font-face {
  font-family: "medium";
  src: url("../fonts/SFUIText-Medium.ttf") format("truetype"), url("../fonts/SFUIText-Medium.woff") format("woff"); }

.wrapper-login {
  width: 980px;
  height: auto;
  margin: 0 auto; }

.wrapper {
  width: 1012px;
  height: auto;
  margin: 0 auto; }

.container {
  float: left;
  width: calc(100% - 206px);
  height: auto; }

.header-login {
  width: 100%;
  height: 82px;
  position: relative;
  padding-top: 13px;
  z-index: 10;
  border-bottom: 1px solid #133783;
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%); }
  .header-login__logo {
    display: inline-block;
    width: 170px;
    height: 34px;
    margin-top: 17px;
    background: url(../images/icons/icons-first-login.png) no-repeat;
    background-position: 0 0; }
  .header-login__auth {
    display: flex;
    width: 392px;
    height: 65px; }
  .header-login .auth__item {
    padding: 0 0 0 14px;
    font-size: 1.2rem; }
  .header-login .auth--mail, .header-login .auth--pass {
    padding-top: 1px; }
  .header-login .auth__text {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
    padding-bottom: 4px; }
  .header-login .auth__input {
    width: 142px;
    padding: 3px;
    outline: transparent;
    border: 1px solid #bdc7d8;
    border-color: #1d2a5b; }
  .header-login .auth__link {
    color: #9cb4d8;
    cursor: pointer;
    padding-top: 5px;
    text-decoration: none; }
    .header-login .auth__link:hover {
      cursor: pointer;
      text-decoration: underline; }
  .header-login .auth__btn {
    width: 50px;
    height: 24px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8rem;
    cursor: pointer;
    outline: transparent;
    border-radius: 2px;
    padding: 2px 6px;
    border: 1px solid #29487d;
    background-color: #4267b2; }
    .header-login .auth__btn:hover {
      background-color: #365899; }

.main-login {
  width: 100%;
  height: auto;
  padding: 20px 0 80px 0; }
  .main-login--left {
    padding-right: 48px; }
  .main-login__heading {
    color: #333;
    font-size: 3.9rem;
    font-family: 'Freight Sans Medium';
    line-height: 4.6rem;
    letter-spacing: 1px; }
  .main-login__text {
    display: inline-block;
    color: #333;
    font-size: 20px;
    line-height: 126%;
    font-family: 'Freight Sans Medium';
    margin-bottom: 20px; }
  .main-login__recent {
    display: flex; }

.recent__item {
  position: relative;
  display: block;
  width: 160px;
  height: auto;
  margin: 0 17px 0 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #dddfe2;
  transition: all .2s ease-out; }
  .recent__item:hover {
    box-shadow: 0 1px 10px 7px #dddfe2; }
  .recent__item:hover > .recent__btn {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
    transition: all 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
    transform: scale(1.5);
    transform-origin: bottom right; }
  .recent__item:hover > .recent__btn:after {
    opacity: 1; }
  .recent__item__img {
    width: 160px;
    height: 160px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .recent__item__noimg {
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: 5px; }

* {
  margin: 0; }

* {
  margin: 0; }

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 63px;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d; }
  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 61px; }
    .header__inner-left {
      display: flex;
      flex-direction: row; }
    .header__inner-right {
      display: flex;
      flex-direction: row; }
      .header__inner-right-item {
        display: flex;
        align-items: center;
        flex-direction: row; }
        .header__inner-right-item:nth-child(1) >
.header__inner-right-link {
          padding: 0 1.2rem 0 0; }
        .header__inner-right-item-second {
          padding: 0 0.5rem; }
        .header__inner-right-item-third > .header__inner-right-icons:nth-child(2) {
          margin-left: 0.7rem; }
        .header__inner-right-item-third .right-icons {
          transition: none !important; }
      .header__inner-right-link {
        display: flex;
        align-items: center;
        width: auto;
        height: 28px;
        padding: 0 1.2rem; }
        .header__inner-right-link:hover {
          border-radius: 2px;
          background-color: rgba(0, 0, 0, 0.1); }
      .header__inner-right-image {
        width: 26px;
        height: 26px;
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-right: 0.6rem; }
      .header__inner-right-text {
        font-size: 1.25rem;
        font-weight: 700;
        color: #fff; }
      .header__inner-right-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin: 0 0.2rem; }
      .header__inner-right .right-icons {
        width: 24px;
        height: 24px;
        background: url(../images/icons/default_icons.png) no-repeat;
        background-size: auto;
        transition: 0.35s;
        opacity: .6; }
        .header__inner-right .right-icons:hover {
          opacity: 1; }
        .header__inner-right .right-icons-friends {
          background-position: 0 -892px; }
          .header__inner-right .right-icons-friends:hover {
            background-position: 0 -867px; }
        .header__inner-right .right-icons-messages {
          background-position: 0 -942px; }
          .header__inner-right .right-icons-messages:hover {
            background-position: 0 -917px; }
        .header__inner-right .right-icons-notifications {
          background-position: 0 -792px; }
          .header__inner-right .right-icons-notifications:hover {
            background-position: 0 -767px; }
        .header__inner-right .right-icons-help {
          background-position: 0 -992px; }
          .header__inner-right .right-icons-help:hover {
            background-position: 0 -967px; }
        .header__inner-right .right-icons-dropdown {
          background-position: 0 -842px; }
          .header__inner-right .right-icons-dropdown:hover {
            background-position: 0 -817px; }
      .header__inner-right-border {
        width: 1px;
        height: 18px;
        background-color: rgba(0, 0, 0, 0.1); }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer; }
    .header__logo:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .header__logo > a {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../images/icons/default_icons.png);
      background-size: auto;
      background-position: 0 -442px; }
  .header__search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
    margin-left: 0.5rem; }
  .header__search-input {
    border: none;
    outline: none;
    height: 24px;
    width: 400px;
    padding: 0 8px;
    font-size: 1.4rem;
    color: #000;
    line-height: 24px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
    .header__search-input::placeholder {
      color: #90949c; }
    .header__search-input:focus +
.header__search-button {
      background-color: #4080ff;
      transition: .35s; }
    .header__search-input:focus +
.header__search-button > .header__search-button-icon {
      background-position: 0 -1460px; }
  .header__search-button {
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    height: 24px;
    width: 46px;
    cursor: pointer;
    background-color: #f5f6f7;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
    .header__search-button:hover {
      background-color: #ebedf0; }
    .header__search-button-icon {
      width: 14px;
      height: 14px;
      background: url(../images/icons/default_icons.png) no-repeat;
      background-size: auto;
      background-position: 0 -1445px; }

/* /HEADER */
/* MAIN SECTION */
.main {
  width: 100%;
  height: auto;
  margin-top: 55px; }

/* FRIENDS SIDEBAR */
.sidebar {
  position: fixed;
  top: 63px;
  right: 0;
  width: 206px;
  height: calc(100vh - 63px);
  padding: 5px 0;
  border-left: 1px solid #ccc;
  box-shadow: inset 2px 0 2px -2px #e0e0e0; }

/* SIDEBAR NAVIGATION */
.sidebar__navigation {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  overflow-x: hidden; }

/* SIDEBAR NAVIGATION LIST */
/* .sidebar__navigation-list{} */
.sidebar__navigation-title {
  display: inline-block;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 10px 7px; }

.navigation__list-item {
  display: block;
  height: 40px; }

.navigation__list-link {
  display: block;
  width: 100%;
  margin-left: 1px; }

.navigation__list-link-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 0 7px; }

.navigation__list-link-inner:hover {
  background-color: #dddfe2; }

/* SIDEBAR NAVIGATION LIST ITEM ON :HOVER WAVE */
.navigation__list-link-inner:hover >
.navigation__list-right > .navigation__list-wave {
  display: inline-block; }

.navigation__list-left {
  display: flex;
  flex-direction: row;
  align-items: center; }

.navigation__list-right {
  display: flex;
  flex-direction: row;
  align-items: center; }

.navigation__list-image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden; }

.navigation__list-image img {
  width: 32px;
  height: 32px;
  border-radius: 100%; }

.navigation__list-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px; }

.navigation__list-name {
  font-size: 12px;
  color: #333; }

.navigation__list-groupwith {
  font-size: 10px;
  color: #4b4f56;
  margin-top: 3px; }

/* SIDEBAR NAVIGATION WAVE ICON */
.navigation__list-wave {
  height: 21px;
  width: 21px;
  display: none;
  background-image: url(../images/icons/wave.png);
  background-size: auto;
  background-position: 0 0;
  background-repeat: no-repeat; }

.navigation__list-wave:hover {
  background-position: 0 -22px; }

.navigation__list-status {
  display: flex;
  align-items: center;
  margin: 0 4px 0 6px; }

/* SIDEBAR NAVIGATION ONLINE STATUS */
.status__online {
  background: #42b72a;
  border-radius: 100%;
  display: inline-block;
  height: 6px;
  width: 6px; }

/* /SIDEBAR NAVIGATION */
/* ONLINE FRIENDS SIDEBAR SEARCH */
.sidebar__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: #fff; }

/* SIDEBAR SEARCH ICON */
.sidebar__search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px; }

.sidebar__search-icon-image {
  width: 12px;
  height: 12px;
  background-image: url(../images/icons/second_icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -903px; }

/* SIDEBAR SEARCH FORM */
.sidebar__search-form {
  margin-right: 10px;
  width: 80px;
  height: 30px;
  background-color: #f5f6f7; }

.sidebar__search-input {
  width: 100%;
  height: 30px;
  outline: none;
  font-size: 14px; }

.sidebar__search-input::placeholder {
  color: #aeaeaf; }

/* SIDEBAR SEARCH ICONS */
.sidebar__search-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65px; }

.sidebar__search-icons-inner {
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/second_icons.png);
  background-repeat: no-repeat;
  background-size: auto; }

.sidebar__search-icons-options {
  background-position: 0 -669px; }

.sidebar__search-icons-options:hover {
  background-position: 0 -686px; }

.sidebar__search-icons-message {
  background-position: 0 -414px; }

.sidebar__search-icons-message:hover {
  background-position: 0 -431px; }

.sidebar__search-icons-group {
  background-position: 0 -516px; }

.sidebar__search-icons-group:hover {
  background-position: 0 -533px; }

/* /ONLINE FRIENDS SIDEBAR SEARCH */
/* /FRIENDS SIDEBAR */
